{% extends "layout.html" %}
{% block content %}
    <div class='main-container'>
        <div class="info">
            <h1>Relayed Auth Listener</h1>
            <p>Configure the following domain in the BPCA:</p>
            <code id="request-url"></code>
            <div>
                {% include 'webhooks.html' %}
            </div>
        </div>
    </div>

    <script>
        let relayedUrl = location.protocol + '//' + location.host + location.pathname + "api/webhooks/relayedAuth";
        document.getElementById("request-url").innerHTML = relayedUrl;
    </script>
{% endblock %}